/* 회원가입 */

#signUp {
  margin-left: 15%;
  margin-right: 15%;
}

.container .btn {
  display: inline-block
}



/* ▽ made by Chan ▽ */

/* 나무 구독 */

.header_section {
  background-color: white;
}

.bg-grey {
  background-color: #f6f6f6;
}

#sub_tree .container .reserve_table_form {
  background-color: white;
}

#sub_tree .sub_tree {
  position: relative;
  margin: 10px;
  padding: 10px 0px;
  width: 80%;
  height: 100%;
}

#sub_tree .list_wrap ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0; 
  /* height: 80%; */
  
}


#sub_tree ul>li {
  /* position: relative; */
  display: inline-block;
  width: 200px;
  min-height: 250px;
  /* max-height: 400px; */
  height: auto;
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 40px;
  /* border: 3px outset #fde0d8; */
  /* background-color: #fadcd3; */
  /* box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%); */
  text-align: center;
  vertical-align: top;
  cursor:pointer;
}

/* 선택 표시 */
#sub_tree .selected {
    border: 3px solid #f7baaa;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
}


/* @media screen and (max-width: 600px) {
  #sub_tree .list_wrap ul>li {
  display: inline-block;
  width: 50%;
  min-height: 250px;
  margin: 0px;
  padding: 10px;
  }
  } */


#sub_tree ul>li>div
{
  overflow: hidden;
  /* height: 100%; */
  background-color: #fff;
  /* border-radius: 4px; */
} 


.list_wrap ul>li input[type="checkbox"] {
	/* display:none; */

}

.tt_thum_img {
  /* border-radius: 100%; */
}

#tt_blend .tt_thum_img {
  margin: 10px 0 16px;
  height: 150px;
}

/* @media screen and (max-width: 600px) {

  .tt_goods .tt_cate {
    visibility: hidden;
    height: 0px;
  }
} */


#tt_req textarea {
  width: 100%;
  height: 100px;
}


.tt_goods .tt_cate {
  display: inline-block;
  margin: 20px 1px 5px;
  padding: 1px 10px 0;
  border: 1px solid #eee;
  font-size: 1rem;
  color: rgb(27, 27, 27);
  /* background-color: #fcf7f6; */
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
  /* background: #fff; */
  vertical-align: top;
}


.tt_info .tt_name {
  padding: 0 1px;
  display: block;
  font-size: 1.1rem;
  width: 100%;
  margin: 0 0 5px;
  
}

.tt_info {
  /* font-size: 10px; */
  font-weight:bold
  
}

.tt_goods .tt_explain {
  font-size: 15px;
  color: #aaa;
  /* display: none; */
  /* visibility: hidden; */
}
/* 모바일 작은화면  */
@media screen and (max-width: 600px) {
  
  #sub_tree .sub_tree {
    position: relative;
    margin: 10px;
    padding: 10px 0px;
    width: 100%;
    height: 100%;
  }
  
  #sub_tree .list_wrap ul {
    display: flex;
    flex-wrap: wrap;
    /* height: 80%; */
    /* width: 3000px; */
    
  }
  
  #sub_tree ul>li {
    /* position: relative; */
    display: inline-block;
    width: 150px;
    /* height: auto; */
    /* min-height: 250px; */
    /* max-height: 400px; */
    /* height: 100px; */
    margin: 5px;
    padding: 5px 10px;
  }

  #sub_tree .tt_thum_img{
    /* height: 100px; */
  }

  #tt_blend .tt_thum_img {
    /* margin: 10px 0 16px; */
    height: 150px;
  }

  .tt_info .tt_name {
    font-size: 1.2rem;
  }

  .tt_goods .tt_cate {
    display: none;
  }


  .tt_goods .tt_explain {
    display: none;
    /* visibility: hidden; */
  }


}

.tt_goods .tt_explain .hover {
  font-size: 15px;
  color: #aaa;
  /* visibility: visible; */
}

#sub_tree .list_wrap>ul>li:hover {
  /* visibility: visible; */
}


/* 결제금액 */
#tt_price {
  font-size: 2rem;
  text-align: right;

}

#tt_price p {
  font-weight: bolder;
  margin-bottom: -5px;
}

#tt_price .totalPrice {
  border: 0cm;
  text-align: right;
  color: #fd6c44;
}


/* 마이페이지 */

#subscribe_order
{
  max-width: 1200px;
}

#subscribe_order .nodata {
  display: none;
  visibility: hidden;

}

/* 티파인더 */
@font-face {
  font-family: 'JSArirang-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ROEHOE-CHAN';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#finder_detail01 .img-responsive {
  /* margin-left: 20%; */
}

#finder_detail02 .img-responsive,
#finder_detail03 .img-responsive {
  /* margin-left: 29%; */
}


#finder_detail04 .ul_li_center {
  /* margin-left: 40%; */
  margin-top: 50px;
  margin-bottom: 30px;

}

#finder_detail05 .img-responsive {
  /* margin-left: 13%; */
}

#finder_detail05 .finder_choice {
  margin-top: 20px;
}

.btn {
  background-color: #fd6c44;

}

.finder_detail .img-responsive {
  width: 200px;
}

.finder_detail .btn-radio {
  width: 100%;
  align-content: center;
  background-color: #fd6c44;
  font-size: large;

}

.finder_detail .img-radio {
  opacity: 0.5;
  margin-top: 50px;
  margin-bottom: 30px;
}

.finder_detail .space-20 {
  margin-top: 20px;
}

.finder_detail .check {
  opacity: 0.5;
  color: #996;

}

.finder_detail .answer ul {
  margin: 50px;


}

.finder_detail .answer li {
  list-style: none;
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 50px;

}

.form_element {
  margin-top: 50px;
  margin-left: 30px;
}

/* 결과창 */


.finder_result .list_wrap {
  position: relative;
  padding: 20px 20px;
  height: 100%;

}

.finder_result .list_wrap>ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.finder_result .list_wrap>ul>li {
  /* position: relative; */
  float: left;
  width: 30%;
  margin: 10px 10px;
  padding: 0 22px;
  border-radius: 1px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgb(0 0 0 / 8%);
  text-align: center;
  vertical-align: top;
}

.finder_result .list_wrap>ul>li>div {
  overflow: hidden;
  height: 100%;
  background-color: #fff;
  border-radius: 4px;
}


.tea_goods .t_img {
  margin: 20px 0 16px;
}

.tea_goods .t_name {
  padding: 0 15px;
  display: block;
  margin: 0 0 5px;
  font-size: 16px;
  font-weight: normal;
}

.tea_goods .t_explain {
  font-size: 14px;
  color: #aaa;
}

.tea_goods .keyword {
  display: inline-block;
  margin: 20px 1px 3px;
  padding: 1px 10px 0;
  border: 2px solid #eee;
  font-size: 15px;
  color: black;
  background: #fff;
  vertical-align: top;
}

.tea_goods .keyword .jamong {
  border: 1px solid #fd6c44;
  background: #fd6c44;
  color: #fff;
}
/* 마이페이지 */

.container .fas {
  color: #fd6c44;
}

.container .fa-user {
  padding-right: 10%;
}

.btn {
  background-color: #fd6c44;
}

#subscribe_order ul,
li {
  list-style: none;
}

#subscribe_order li {
  border: 2px solid #eee;
  /* box-shadow: 1px 1px 1px 1px #eee inset; */
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px;
}

#subscribe_order .item_content img {
  width: 100%;
  height: auto;
}

#viewOrderLIst ul,
dt {
  list-style: none;
}

#viewOrderLIst dt,
dd {
  display: inline-block;
  /* float: left; */
  padding: 0 3px;
}

#subscribe_order dt,
dd {
  display: inline-block;
  /* float: left; */
  padding: 0 3px;
}

#viewOrderLIst li {
  border: 2px solid #eee;
  /* box-shadow: 1px 1px 1px 1px #eee inset; */
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px;
}

#viewOrderLIst li:hover {
  border: 2px solid #eee;
  background-color: #f5e3df;
}

#viewOrderLIst .order_date {
  margin-bottom: 5px;
  /* text-align: right; */
}

#viewOrderLIst .order_name {
  margin-bottom: 1px;
}

#viewOrderLIst hr {
  margin-top: 2px;
}

#viewOrderLIst button {
  /* border: 1px solid #eee; */
  padding: 0 5px;
  background-color: #fd6c44;
  color: white;
}

#viewOrderLIst .order_button {
  display: table;
  /* position: absolute; */
  /* right: 20px; */
  /* height: 100px; */
  vertical-align: middle;
}

#viewOrderLIst .order_button .button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#viewOrderLIst .order_button .link {
  /* display: block; */
  width: 80px;
  height: 35px;
  margin-top: 5px;
  border: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: black;
}

/* 구매상세 페이지 */

#viewbuy_detail .order_header {
  border: 1px solid #eee;
}

.order_header div {
  display: inline-block;
  padding: 10px;
}

 .order_button span{
  text-align: left;
  /* align-items: flex-end; */
}

.order_header dt, dd{
  display: inline-block;
}

#viewbuy_detail .order_hr {
  margin-top: 1px
}

#viewbuy_detail li {
  border: 2px solid #eee;
  /* box-shadow: 1px 1px 1px 1px #eee inset; */
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px;
}

#viewbuy_detail li:hover {
  border: 2px solid #eee;
  background-color: #f5e3df;
}



#viewbuy_detail .order_date {
  margin-bottom: 5px;
  /* text-align: right; */
}

#viewbuy_detail .order_name {
  margin-bottom: 1px;
}

#viewbuy_detail hr {
  margin-top: 2px;
}

#viewbuy_detail button {
  /* border: 1px solid #eee; */
  padding: 0 5px;
  background-color: #fd6c44;
  color: white;
}

#viewbuy_detail .order_button {
  display: table;
  /* position: absolute; */
  /* right: 20px; */
  /* height: 100px; */
  vertical-align: middle;
}

#viewbuy_detail .order_button .button {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#viewbuy_detail .order_button .link {
  /* display: block; */
  width: 80px;
  height: 35px;
  margin-top: 5px;
  border: 1px solid #eee;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: black;
}

